@import "./settings";

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    .content{
        background: $lightGrayishBlue;
        border-radius: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        min-height: 550px;
        .img, .infos{
            width: 400px;
            min-height: 550px;
        }
        .img{
            background: url("../images/bg-pattern-desktop.svg") no-repeat;
            background-position: 100% 75%;
            position: relative;
            svg:nth-child(2){
                position: absolute;
                left: -75px;
                top: 75px;
                z-index: 1;
            }
            svg:nth-child(1){
                position: absolute;
                top: 210px;
                left: -100px;
                z-index: 2;
            }
            svg:nth-child(3){
                display: none;
            }
        }
        .infos{
            padding: 0 24px;
            h1{
                margin: 48px 0;
            }
            .question{
                max-width: 90%;
                border-bottom: 1px solid $darkGrayishBlue;
                h4{
                    display: flex;
                    justify-content: space-between;
                    color: $veryDarkGrayishBlue;
                    &:hover{
                        color: $softRed;
                        cursor: pointer;
                    }
                }
                p{
                    display: none;
                }
            }
            .response{
                max-width: 90%;
                border-bottom: 1px solid $darkGrayishBlue;
                h4{
                    display: flex;
                    justify-content: space-between;
                    &:hover{
                        color: $softRed;
                        cursor: pointer;
                    }
                    span{
                        .rotate{
                            transform: rotate(180deg);
                        }
                    }
                }
                p{
                    display: block;
                }
            }
        }
    }
    @media screen and (max-width: 950px) {
        padding: 128px 0;
        .content{
            flex-direction: column;
            max-width: 90%;
            padding: 0 12px;
            .img{
                position: relative;
                min-height: 230px;
                background: url("../images/bg-pattern-mobile.svg") no-repeat;
                background-position: 0 100%;
                background-size: contain;
                svg:nth-child(1), svg:nth-child(2){
                    display: none;
                }
                svg:nth-child(3){
                    max-width: 100%;
                    margin: 0 auto;
                    display: inline;
                    position: absolute;
                    top: -100px;
                }
            }          
        }
    }
    @media screen and (max-width: 450px) {
        .content{
            .img{
                width: 100%;
                background-size: 100%;
                background-position: 50% 50%;
                svg:nth-child(3){
                    max-width: 300px;
                    left: calc(50% - 140px);
                }
            }
            .infos{
                width: 100%;
                text-align: center;
            }  
        }
    }
}